* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family:'Courier New', Courier, monospace;
}

/*header styling*/
header {
    padding: 20px 35px;
    background-color: #000000;
    display: flex;
   justify-content: space-between;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
    color: lightpink;
    margin: 0;
}

header a {
    text-decoration: none;
    color: lightpink;
}

/* NAVIGATION */

header nav {
    float: right;
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: 300;
    font-size: 1.55vw;
}

/*Jumbotron start*/
.hero {
    background-image: url(/images/pink\ background.jpg);
    height: 400px;
    background-size: cover;
    background-position:relative;
}

.cool-subtitle {
    float: right;
    color: lightpink;
}